# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Build
build/
coverage/
*.lock

# Android
android/.gradle/
android/app/build/
android/local.properties
*.keystore
*.jks

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
*.xcuserstate
*.xcworkspace
*.xcuserdatad

# Windows
windows/Flutter/ephemeral/

# Linux
linux/Flutter/ephemeral/

# Web
.*/.dart_tool/
web/.dart_tool/

# IDEs
.idea/
.vscode/
*.iml

# Misc
*.log
*.tmp
*.DS_Store
